body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(179, 176, 176);

  nav {
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filter_nav {
      ul {
        display: flex;
        list-style: none;

        li {
          margin-right: 10px;
        }
      }
    }

    .search_nav {
      .search_wrapper {
        margin-bottom: 5px;
      }
    }
  }
}
