body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
}
body nav {
  padding: 20px;
  background-color: rgb(252, 250, 250);
}
body nav #toggle_btn {
  display: none;
}
body nav .menu_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body nav .menu_wrapper .filter_nav {
  display: flex;
}
body nav .menu_wrapper .filter_nav .dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
body nav .menu_wrapper .filter_nav .dropdown:hover p {
  color: rgb(96, 108, 235);
}
body nav .menu_wrapper .filter_nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 180px;
}
body nav .menu_wrapper .filter_nav .dropdown .dropdown-content a {
  color: block;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-bottom: 0.5px solid rgb(173, 172, 172);
}
body nav .menu_wrapper .filter_nav .dropdown .dropdown-content a:hover {
  background-color: rgb(96, 108, 235);
}
body nav .menu_wrapper .filter_nav .dropdown:hover .dropdown-content {
  display: block;
}
body nav .menu_wrapper .search_nav .search_wrapper {
  margin-bottom: 5px;
}
body nav .menu_wrapper .search_nav .search_wrapper #search_input {
  border: none;
  border-bottom: 1px solid rgb(173, 172, 172);
  padding: 10px;
  background-color: rgb(252, 250, 250);
  color: black;
}
body nav .menu_wrapper .search_nav .search_wrapper #search_input:focus {
  border: none;
}
body nav .menu_wrapper .search_nav .search_wrapper button {
  background-color: white;
  border: none;
  border-bottom: 1px solid rgb(173, 172, 172);
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
body nav .menu_wrapper .search_nav .search_wrapper button:hover {
  background-color: rgb(96, 108, 235);
}
body header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg");
  color: white;
  background-position: center;
  height: 400px;
}
body header div {
  text-align: center;
}
body header div h1 {
  padding-bottom: 20px;
}
body header div button {
  background-color: white;
  border: none;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
body header div button:hover {
  background-color: rgb(96, 108, 235);
}
body main .new_book_form_section {
  display: none;
}
body main .new_book_form_section form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  border: solid black 2px;
  margin: 0 auto;
  margin-top: 20px;
  border: none;
  background-color: rgb(255, 255, 255);
}
body main .new_book_form_section form input {
  width: 80%;
  margin: 0 auto;
  padding: 8px 5px;
  margin-bottom: 8px;
  border: 0.5px solid rgb(192, 192, 192);
  font-family: "Open Sans", sans-serif;
}
body main .new_book_form_section form .form_btn_wrapper {
  display: flex;
  justify-content: center;
}
body main .new_book_form_section form .form_btn_wrapper button {
  width: 30%;
  margin-right: 5px;
  background-color: rgb(96, 108, 235);
  color: white;
  border: none;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
body main .new_book_form_section form .form_btn_wrapper button:hover {
  background-color: white;
  color: rgb(96, 108, 235);
  border: 1px solid rgb(96, 108, 235);
}
body main .new_book_form_section form #edit_book_btn {
  display: none;
}
body main #books_container {
  margin: 20px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body main #books_container div {
  max-width: 350px;
  margin-right: 20px;
  margin-bottom: 20px;
}
body main #books_container div img {
  width: 100%;
  height: 300px;
}
body main #books_container div ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin: 0 auto 5px auto;
  width: 80%;
  list-style: none;
}
body main #books_container div ul .title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
}
body main #books_container div ul li {
  text-align: center;
}
body main #books_container div .buttons {
  margin-right: 0px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
body main #books_container div .buttons button {
  width: 100px;
  padding: 5px;
  background-color: rgb(96, 108, 235);
  color: white;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
body main #books_container div .buttons button:hover {
  background-color: white;
  color: rgb(96, 108, 235);
  border: 1px solid rgb(96, 108, 235);
}

@media only screen and (max-width: 768px) {
  body nav {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  body nav .menu_wrapper {
    width: 100%;
    display: none;
    align-items: flex-start;
    flex-direction: column;
  }
  body nav .menu_wrapper .filter_nav {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  body nav .menu_wrapper .filter_nav .dropdown p {
    text-align: center;
  }
  body nav .menu_wrapper .filter_nav .dropdown:hover {
    background-color: rgb(96, 108, 235);
  }
  body nav .menu_wrapper .filter_nav .dropdown:hover p {
    color: white;
  }
  body nav .menu_wrapper .search_nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  body nav .active {
    display: flex;
  }
  body nav #toggle_btn {
    display: block;
    width: 50px;
  }
}/*# sourceMappingURL=style.css.map */